.body-content{
     margin-top: 74px;

    .body-top-area{
        position: relative;
        .triangle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            clip-path: polygon(100% 0, 100% 100%, 0 100%);
            background-color: #FEF3C7;
        }
        .slider-container {
            min-height: 500px;
            padding: 80px 0;
            .caption-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 100%;
            }

            .caption-container h5 {
                font-size: 2rem;
                font-weight: bold;
            }

            .caption-container p {
                font-size: 1.1rem;
            }

            .caption-container button {
                margin-top: 20px;
                font-size: 1.2rem;
            }

            .image-container img {
                height: 388px;
            }

            .img-area{
                background: #FBBF24;
                width: 367px;
                height: 372px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .spec-area{
            background: transparent !important;
            border: none !important;
            box-shadow: none !important;
            width: 390px ;
        }
        .icon-spec{
            width: 55px;
            height: 64px;
            .placement-icon{
                right: 0;
                top: 0;
            }
        }
    }
    {/*///////*/}
    .body-area-2{
        .background-body-area-2{
            /*background-image: url('../assets/images/backlights.png');
            background-position: center;
            background-repeat: no-repeat;*/
            height: 526px;
            position: absolute;
            right: 75px;
            top: -16px;
        }
        .card{
            border: 1px solid rgba(15, 23, 42, 1);
            box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.07), 0 25px 50px -12px rgba(255, 255, 255, 0.25);
            border-radius: 10px;
            height: 472px;
            width: 394px;
            background-color: #0F172A;
            color: #fff;
            .card-body{
                padding: 30px;
            }
        }
        .padding-top-bot{
            padding: 40px 0;
        }
    }
{/*///////*/}
    .body-area-3{
        padding: 80px;
        .background-body-area-3{
            padding: 80px;
            border-radius: 30px;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);

        }
        .right-area{
            position: relative;
            .video-back{
                position: absolute;
                height: 590px;
                top: -74px;
                right: -54px;
            }
        }
/**/
        .video-wrapper {
            border: 5px solid #fff; /* Çerçeve ekler */
            border-radius: 10px; /* Köşeleri yuvarlar */
            overflow: hidden; /* Taşmayı önler */
            position: relative;
            max-width: 100%;
            width: 430px;
            height: auto;
            padding-top: 40px;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
            background-color: #fff;
            .video-element {
                width: 100%;
                height: auto;
                outline: none; /* Çevresindeki mavi çerçeveyi kaldırır */
                border-radius: 0 0 10px 10px;
            }

            .play-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                color: #fff;
                border-radius: 50%;
                padding: 10px;
                width: 144px;
                z-index: 2;
                cursor: pointer;
            }
            .play-icon:hover{
                opacity: 0.95;
            }
            .pause-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 58px;
                color: #fff;
                border-radius: 50%;
                padding: 10px;
                width: 168px;
                z-index: 2;
                cursor: pointer;
                opacity: 0.65;
                animation: fadeOut 1s ease-in forwards;
            }
            .pause-icon:hover {
                opacity: 0.60;
            }

            .video-icon-2{
                position: absolute;
                top: 10px;
                left: 10px;
            }

        }
        .video-area{
            .video-icon-3{
                position: absolute;
                bottom: -35px;
                left: 50px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: rgba(21, 128, 61, 1);
                opacity: 0.6;
                z-index: 3;
            }
        }

        .video-wrapper:hover .play-icon {
            display: block; /* Hover yapıldığında görünür */
        }

    }

    .body-area-4{
        padding: 80px 20px;
        .slider-container {
            /*overflow: hidden;*/
            width: 100%;
        }

        .slider {
            display: flex;
            height: 455px;
            transition: transform 0.4s ease;
        }

        .nb-button:active{
            border: none !important;
            outline: none !important;
        }

        .nb-button:focus{
            border: none !important;
            outline: none !important;
        }

        .scrollable-content {
            display: flex;
            flex-wrap: nowrap;
            padding: 10px;
            scroll-behavior: smooth;
        }

        .card {
            border: none;
            border-radius: 20px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.07), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
            height: 430px;
            width: 384px;
        }

        .card-text {
            color: rgba(0, 0, 0, 1);
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-top: 10px;
        }

        .card-footer-spec{
            background: #fff;
            border: none;
            border-radius: 20px;
            .card-footer-spec-area{
                height: 65px;
            }
        }

        .comm-pos{
            color: rgba(71, 85, 105, 1);
        }
        .yellow-area{
            position: absolute;
            top: 150px;
            width: 97%;
            height: 421px;
            background-color: rgba(253, 230, 138, 1);
        }
    }

    .body-area-5{
        width: 100%;
        min-height: 723px;
        background-image: url('../assets/images/waves.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .desktop-area{
            .collection-fix-pic{
                position: absolute;
                z-index: 999;
                right: 0;
                bottom: -66px;
                img{
                    width: 256px;
                    height: 286px;
                }
            }
        }
        .collection-img{
            height: 451px;
            width: 700px;
        }
    }

    .body-area-6{
        padding: 80px 0;
        background-color: #78350F;
    }
}

@media (max-width: 570px) {
    .body-content {
        .body-top-area {
            .triangle{
                top: 295px;
                left: 0;
                width: 100%;
                height: 22%;
            }
            .mobil-kupa-back{
                background-color: #fef3c7;
                /*margin-top: -25px;*/
            }
            .slider-container{
                padding: 10px 0 0 0;
                .image-container{
                    margin: 40px 0 !important;
                }
                .image-container img {
                    height: 250px;
                }
                .img-area{
                    width: 250px;
                    height: 250px;
                }
            }
            .spec-area{
                width: 300px;
            }
        }
        .body-area-2{
            .background-body-area-2{
                /*background-image: url('../assets/images/backlights-mobil.png');
                height: 1335px;*/
                /*height: 1335px;*/
                position: absolute;
                right: -127px;
                top: 0;
                height: 97%;
            }
            .card{
                width: 350px;
            }
        }
        .body-area-3{
            padding: 20px;
            .background-body-area-3{
                padding: 20px;
            }
            .video-wrapper{
                width: 295px;
            }
            .video-area{
                .video-icon-3{
                    left: 35px;
                    width: 65px;
                    height: 65px;
                }
            }
            .right-area {
                .video-back{
                    height: 315px;
                    top: -25px;
                    right: -7px;
                }
            }
        }
        .body-area-4{
            .yellow-area{
                height: 277px;
                left: 0;
                width: 100%;
            }
            /*.scrollable-content{
                overflow: auto !important;
            }*/
            .card{
                height: 315px;
                width: 275px;
                .card-text{
                    font-size: 16px !important;
                }
            }
            .slider{
                height: 350px;
                overflow: auto !important;
            }
        }

        .body-area-5{
            height: 700px;
            .collection-img{
                height: 170px;
                width: 230px;
            }
            .desktop-area{
                .collection-fix-pic{
                    right: 4px;
                    bottom: -160px;
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            .mobil-col-buttons{
                width: 98%;
                overflow-x: auto;
                overflow-y: hidden;
            }
        }
        .body-area-6{
            padding: 5px 0;
        }
    }

}
@media screen and (min-width: 570px) and (max-width: 894px) {
    .body-content {
        .body-top-area{
            .triangle{
                top: 290px;
                left: 0;
                width: 100%;
                height: 33%;
            }
            .mobil-kupa-back{
                background-color: #fef3c7;
            }
            .container {
                max-width: 100%;
            }
        }
        .body-area-2{
            .background-body-area-2{
                position: absolute;
                right: 60px;
                top: 0;
                height: 97%;
            }
            .card{
                width: 80%;
            }
        }

        .body-area-3{
            .right-area {
                .video-back{
                    height: 470px;
                    top: -32px;
                    right: -7px;
                }
            }
        }
        .body-area-4{
            .slider{
                height: 495px;
                overflow: auto !important;
            }
        }
        .body-area-5{
            .mobil-col-buttons{
                width: 98%;
                overflow-x: auto;
                overflow-y: hidden;
            }
            .collection-img{
                height: 300px;
                width: 80%;
            }
            .desktop-area{
                .collection-fix-pic{
                    right: -20px;
                    bottom: -275px;
                    img{
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }
    }
}
@keyframes fadeOut {
    from {
        opacity: 0.65; /* Başlangıçta tamamen görünür */
    }
    to {
        opacity: 0; /* Tamamen şeffaf */
    }
}